.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2979FF;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.online-icon {
    color: #00FF00;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.room-title {
    margin-left: 5%;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.close-icon {
    color: #FFF;
    position: relative;
    height: 20px;
    width: 20px;
    top: 10%;
    left: 50%;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}